/* cạnh viền dày 15px */
.border-15 {
  border-width: 15px !important;
}
/* khi kích thước hiển thị chiều ngang lớn hơn hoặc bằng 576px */
@media screen and (min-width: 576px) {
  .goals,
  .scopes {
    border-left: none !important;
  }
}
/* khi kích thước hiển thị chiều ngang nhỏ hơn hoặc bằng 991px */
@media screen and (max-width: 991px) {
  .goals,
  .scopes,
  .team-primary,
  .timeline {
    border-left: none !important;
  }
  .timeline,
  .team {
    border-top: solid;
  }
}

.cv,
.pets,
.news {
  /* ẩn tất cả thẻ có class .cv .pets .news */
  display: none;
}
