:root {
  --color-primary: #0d6efd;
  --color-border: gray;
  --color-border-cer: #d6c08d;
}
/* bỏ gạch chân của thẻ a, đổi thành màu xám */
a {
  text-decoration: none;
  color: grey;
}
/* border trái của certificate */
.border-left-cer {
  border-left: 1px solid var(--color-border-cer) !important;
}
/* border bên dưới của certificate */
.border-bottom-cer {
  border-bottom: 1px solid var(--color-border-cer) !important;
}

/* BANNER */
/* ảnh nền cho banner */
.banner {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}
/* NAV-BAR */
/* ảnh avatar, với viền tròn */
.brand-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* hiểu ứng khi trỏ chuột lên thẻ, đổi màu text thành trắng, nền thành color-primary   */
.hover-effect:hover {
  color: white !important;
  background-color: var(--color-primary);
}
/* INFO */
/* ẩn thông tin cá nhân */
#info .section-content {
  display: none;
}
/* SUMMARY */
/* chiều cao tối thiểu của tất cả thẻ card, để khi hiện nút view more
chiều cáo các card vẫn đều nhau */
.card {
  min-height: 125px;
}
/* ẩn các thẻ trong summary */
.card-text {
  display: none;
}
/* ẩn nút view more */
.view-more {
  display: none;
}
/* CSS TIMELINE */
.timeline .title::before {
  position: absolute;
  content: "\2022";
  font-size: 1.3em;
  top: -5px;
  left: 0;
  color: var(--color-primary);
}
.timeline .section-content {
  padding-left: 25px;
  position: relative;
}

/* EXPERIENCE BAR */
.exp-bar {
  width: 60px;
  display: inline-block;
  padding: 0;
  border: 3px solid gray;
  border-radius: 90px/100px;
}
/* HOBBY */
/* Các thành phần bên trong tự xuống dòng khi web co giãn */
#hobby .content {
  display: flex;
  flex-wrap: wrap;
}
#hobby .content div {
  text-align: center;
  flex: 1;
  white-space: nowrap;
  margin: 10px;
}
/* tạo viền tròn cho các hobby */
#hobby .content div i {
  color: var(--color-primary);
  display: inline-block;
  width: 60px;
  height: 60px;
  flex: 1;
  padding-top: 15px;
  font-size: 1.5em;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}
