/* đưa các thẻ a của nav-bar dịch về phía bên trái, tăng font size,font weight */
.nav-bar a {
  text-align: start !important;
  font-size: medium;
  font-weight: 600;
}
/* ẩn border-left của cerficate */
.border-left-cer {
  border-left: none !important;
}
